<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--保证接口和映射文件一一对应  -->
<mapper namespace="cn.tarena.ht.mapper.UserMapper">

    <!-- 基于用户表为主表，关联查询userinfo、user、dept的信息 -->
    <select id="findAllUser"  resultMap="userRM">
      select * from
              ( SELECT  * FROM
             user_p  u
             LEFT JOIN
                (SELECT u.user_info_id , u.name, u.card_no,u.manager_id,u.join_date,p.m_name, u.salary ,u.birthday, u.gender,u.station ,u.telephone ,u.user_level,u.remark, u.order_no FROM
                user_info_p u
                LEFT JOIN
                (SELECT user_info_id m_id, NAME m_name FROM User_Info_p ) p
                ON
                  u.manager_id=p.m_id)   info
            ON
            u.user_id=info.user_info_id  ) u
      left join
      dept_p d
      on
      u.dept_id = d.dept_id
    </select>


    <!-- 映射表关系 -->
    <!-- 封装用户信息表-->
    <resultMap id="userRM" type="cn.tarena.ht.pojo.User"  autoMapping="true">
                <id column="user_id" property="userId"></id>
                <!-- 部门表的映射 -->
                <association property="dept"  javaType="Dept">
                        <id column="dept_id" property="deptId"></id>
                        <id column="dept_name" property="deptName"></id>
                </association>
                <!-- 用户拓展信息表的映射 -->
                <association property="userInfo"  javaType="UserInfo"  resultMap="userInfoRM">
                        <id column="m_name" property="name"></id>
                        <id column="" property=""></id>
                </association>
    </resultMap>

    <!-- 封装userInfo对象，它是自关联的表-->
    <resultMap id="userInfoRM" type="UserInfo"  autoMapping="true">
                <!-- 封装主键信息 -->
                <id  column="user_info_id"  property="userInfoId"></id>
                <!--使用自动封装后将结果集自动映射  -->
                <association property="managerId"  javaType="UserInfo">
                        <id column="manager_id"  property="userInfoId"></id>
                        <id column="m_name" property="name"></id>
                </association>
    </resultMap>

</mapper>
